# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Production
build
dist

# Misc
.DS_Store
*.pem
.env
.env.*
!.env.example

# IDE
.vscode
.idea
*.swp
*.swo

# Git
.git
.gitignore

# Docs
README.md
*.md

# Docker
Dockerfile
docker-compose*.yml
.dockerignore
